{% extends 'base.html' %}
{% load static %}

{% block title %}Cloud{% endblock %}


{% block body %}

<!--<h4 style="color : purple; padding : 10px;">This is your API :  aimaker/api/ChatAPI/{{code}} </h4>-->
<div style="text-align:center">
<a style="color : purple; padding : 10px; font-size:20px;" href="{% url 'payment:paymentt' %}"><img src="{% static 'images/point.png' %}">Get Api</a>
<br><br>
<h6><i style="color : purple; padding : 10px;">You can check or test your bot here :</i> </h6>
<a style="color : purple; padding : 10px;" href="{% url 'chatbot:chat' action_id=code %}"><img src="{% static 'images/point.png' %}">Click Here</a>
</div>
<br><br>
{% endblock %}
