{% extends 'base.html' %}
{% load static %}

{% block title %}Cloud{% endblock %}


{% block body %}
    <style>
   input {
  border-radius: 25px;
}
    </style>

    <div class="featured-cause">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="cause-wrap d-flex flex-wrap justify-content-between">
                        <figure class="m-0">
                            <img style="border-radius: 50%; height:200px; width:250px;" src="{% static 'UPLOAD/NewUser/' %}{{user.ID}}/{{user.pro_pic}}" alt="{{user.Name}}"><br><br>
                        </figure>

                        <div class="cause-content-wrap">
                            <header class="entry-header d-flex flex-wrap align-items-center">
                                <h3 class="entry-title w-100 m-0">{{user.Name}}</h3>

                                <div class="cats-links">
                                    {{user.Email}}
                                </div><!-- .cats-links -->
                            </header><!-- .entry-header -->



                            <div class="entry-footer mt-5">
                                <a href="{% url 'Home:Profile_Pic_Edit' action_id=user.ID %}" class="btn gradient-bg mr-2">Change</a>
                            </div><!-- .entry-footer -->
                        </div><!-- .cause-content-wrap -->

                        <div class="fund-raised w-100">
                            <div class="featured-fund-raised-bar barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div><!-- .tipWrap -->

                                <span class="fill" data-percentage="100"></span>
                            </div><!-- .fund-raised-bar -->
                        </div><!-- .fund-raised -->
                    </div><!-- .cause-wrap -->
                </div><!-- .col -->


                <div class="col-12 col-lg-6" style="bottom: 45px">
<!--                    <div class="cause-wrap d-flex flex-wrap justify-content-between">-->
<!--                        <div class="cause-content-wrap">-->
                    <form class="contact-form" action="{% url 'Home:Profile_Info_Edit' action_id=user.ID %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="text" name="name" value="{{user.Name}}" >
                        <input type="text"  name="phone" value="{{user.Phone}}" >
                        <input type="email"  name="email" value="{{user.Email}}" >
                        <input type="text"  name="gender" value="{{user.Gender}}" >
<!--                        <input type="text"  name="type" value="{{user.type}}" >-->

                                                <h6 style="color:black;">Company Type :</h6>
                        <select style="width: 100%;
                                        padding: 12px 24px;
                                        margin-bottom: 18px;
                                        border: 1px solid #e0e0e0;
                                        font-size: 14px;
                                        line-height: 1;"
                                name="type" id="cars">
                          <option value="Bakery">Bakery and Pastry</option>
                          <option value="Real State">Real State</option>
                          <option value="pet">Pet</option>
                          <option value="Restaurant">Restaurant</option>
                            <option value="Wedding Planner">Wedding Planner</option>
                            <option value="Ecommerce">Ecommerce</option>
                          <option value="Fitness">Fitness Studio</option>
                          <option value="Home Cleaning">Home Cleaning</option>
                          <option value="Software">Software Company</option>
                            <option value="Tutor Service">Tutor Service</option>
                            <option value="web">Web Development</option>
                            <option value="Language School">Language School</option>


                        </select>
                        <input style="width: 100%;
                                        padding: 12px 24px;
                                        margin-bottom: 18px;
                                        border: 1px solid #e0e0e0;
                                        font-size: 14px;
                                        line-height: 1;"
                               type="password" placeholder="Password" name="passw" required>
                        <span>
                            <input class="btn gradient-bg" type="submit" value="Update">
                        </span>
                    </form><!-- .contact-form -->

                </div><!-- .col -->

                </div>
                </div>


            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .featured-cause -->


  {% endblock %}
