{% extends 'base.html' %}
{% load static %}

{% block title %}Cloud{% endblock %}


{% block body %}

  <style>

    .containerr {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
      text-align: center;
    }

    .form-group {
      margin-bottom: 20px;
    }

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    select {
      width: 100%;
      padding: 10px;
      border-radius: 3px;
      border: 1px solid #ccc;
    }

    button {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #4CAF50;
      border: none;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
    }

    button:hover {
      background-color: #45a049;
    }
  </style>
<br><br>
  <div class="containerr">
    <h2>Payment Gateway</h2>
    <form method="post">
        {% csrf_token %}
      <div class="form-group">
        <h4>{{msg}}</h4>
        <label for="cardNumber">Card Number</label>
        <input type="text" id="cardNumber" name="cardNumber" placeholder="Enter card number">
      </div>
      <div class="form-group">
        <label for="cardName">Cardholder Name</label>
        <input type="text" id="cardName" name="cardName" placeholder="Enter cardholder name">
      </div>
      <div class="form-group">
        <label for="expiryDate">Expiry Date</label>
        <input type="text" id="expiryDate" name="expiryDate" placeholder="MM/YY">
      </div>
      <div class="form-group">
        <label for="amount">Amount</label>
        <input type="text" id="amount" name="amount" value="500.0" readonly>
      </div>
      <button type="submit">Pay Now</button>
    </form>
  </div>


{% endblock %}

